GENOME_FA=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.fa
GENOME_DICT=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.dict
GENOME_TYPE=hg19,mm10
ANNOT_NAME=genome
ANNOT_GTF=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genes_norm.gtf
ANNOT_REDUCED_GTF=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.reduced.gtf
ANNOT_GENE_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.genes.intervals
ANNOT_EXONS_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.exons.intervals
ANNOT_RRNA_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.rRNA.intervals
ANNOT_REFFLAT=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/genome.refFlat
ANNOT_FOLDER=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new
STAR2_5=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/mouse_human_new/STAR2_5
