GENOME_FA=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.fa
GENOME_DICT=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.dict
GENOME_TYPE=GRCh38
ANNOT_NAME=genome
ANNOT_GTF=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genes_norm.gtf
ANNOT_REDUCED_GTF=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.reduced.gtf
ANNOT_GENE_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.genes.intervals
ANNOT_EXONS_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.exons.intervals
ANNOT_RRNA_INTERVALS=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.rRNA.intervals
ANNOT_REFFLAT=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/genome.refFlat
ANNOT_FOLDER=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human
STAR2_5=/ahg/regevdata/projects/sc_compare/seanken/Dropseq_ref/human/STAR2_5
